# Env of Node manager
export TOKAMAK_TRUNKS_NODE_MANAGER_ENABLE=true
export TOKAMAK_TRUNKS_DOCKER_COMPOSE_FILE_PATH="./nodes/optimism/docker-compose.yml"
export TOKAMAK_TRUNKS_L1_GENESIS_FILE_PATH="./nodes/optimism/info/genesis-l1.json"
export TOKAMAK_TRUNKS_L2_GENESIS_FILE_PATH="./nodes/optimism/info/genesis-l2.json"
export TOKAMAK_TRUNKS_ROLLUP_CONFIG_FILE_PATH="./nodes/optimism/info/rollup.json"
export TOKAMAK_TRUNKS_ADDRESS_FILE_PATH="./nodes/optimism/info/addresses.json"
export TOKAMAK_TRUNKS_JWT_SECRET_FILE_PATH="./nodes/optimism/info/test-jwt-secret.txt"